
*.rst~
*.un~
*.csv#
hardware/HT07/HT07.sch-bak
*.sch-bak
*.kicad_pcb-bak
*.kicad_pcb-bak
*.kicad_pcb-bak
*.sch-bak
*.kicad_pcb-bak
*.sch-bak
hardware/HT07/fp-info-cache
*.swp
docs/firmware/programming/.index.rst.swp
*.py~
*.swo
*.swp
hardware/HT07/Gerber/Releases/HT07R3/HT07_BOM_060921.xlsx
*.zip
hardware/HT07/Gerber/Releases/Parts List.ods
*.db
*.c~
